Project: Student Marks Analysis

# convert the below data into data frame.
Name, Math, Science, English
Alice, 85, 78, 92
Bob, 65, 70, 60
Charlie, 95, 88, 90
David, 40, 50, 45
Eva, 76, 85, 80

In [1]:
# import pandas
import pandas as pd

In [2]:
data={
    'Name':['Alice','Bob','Charlie','David','Eva'],
    'Math':[85,65,95,40,76],
    'Science':[78,70,88,50,85],
    'English':[92,60,90,45,85]
}
df=pd.DataFrame(data)
df.to_csv('sales.csv',index=False)

In [3]:
print(df)

      Name  Math  Science  English
0    Alice    85       78       92
1      Bob    65       70       60
2  Charlie    95       88       90
3    David    40       50       45
4      Eva    76       85       85

#Calculate the average score for each student.

axis=1 → row-wise (across columns in the same row)
axis=0 → column-wise (down each column)

In [5]:
df['Average']= df[['Math','Science','English']].mean(axis=1)
print(df['Average'])

0    85.0
1    65.0
2    91.0
3    45.0
4    82.0
Name: Average, dtype: float64

Add a new column called "Result":
If average ≥ 75 → "Distinction"
If 50 ≤ average < 75 → "Pass"
Else → "Fail"

In [10]:
avg=df['Average']
def assign_result(avg):
    if avg >= 75:
        return "Distinction"
    elif avg >= 50:
        return "Pass"
    else:
        return "Fail"

df['Result'] = df['Average'].apply(assign_result)

Save the final DataFrame to a new file called student_results.csv.

In [11]:
df.to_csv('students_results.cvs', index=True)
print(df)

      Name  Math  Science  English  Average       Result
0    Alice    85       78       92     85.0  Distinction
1      Bob    65       70       60     65.0         Pass
2  Charlie    95       88       90     91.0  Distinction
3    David    40       50       45     45.0         Fail
4      Eva    76       85       85     82.0  Distinction