In [ ]:
# Analyze Sales Data

#Read the CSV file using pandas.

In [ ]:
import pandas as pd
data={
    'OrderId':[1001,1002,1003,1004,1005],
    'Product':['Apple','Banana','Apple','Orange','Banana'],
    'Quantity':[2,5,3,4,6],
    'Price':[30,10,30,20,10]
}
#all the arrays should be of same size.
df=pd.DataFrame(data)
df.to_csv('sales.csv',index=False)

#Calculate the total revenue for each product.

In [ ]:
#add a new column  revenue= Quantity * Price
df['Revenue']=df['Quantity']*df['Price']
print(df['Revenue'])

0    60
1    50
2    90
3    80
4    60
Name: Revenue, dtype: int64

In [ ]:
#Total Revenue
total_Revenue=df['Revenue'].sum()
print('Total Revenue is:',total_Revenue)

Total Revenue is: 340

#Find the product with the highest total revenue.

In [ ]:
# Group by 'Product' and calculate total revenue
group_revenue = df.groupby('Product')
product_revenue=group_revenue['Revenue'].sum().reset_index()

In [ ]:
# Find the product with the highest total revenue
# idxmax()-Returns the index of the row with the highest value
#loc()-Access a group of rows and columns by label(s) or a boolean array.
top_product= product_revenue.loc[product_revenue['Revenue'].idxmax()]
print(top_product)

Product    Apple
Revenue      150
Name: 0, dtype: object